$base-font-size: 10;

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

$site_width: 1024px;

$global_desktop_padding: 0;
$global_tablet_padding: 0 20px;
$global_mobile_padding: 0 10px;

$white01: #ffffff;
$white02: #f9ecf1;
$grey01: #f2f3fc;
$grey02: #8e7d7d;
$grey03: #7a6767;
$pink01: #f2f3fc;
$pink02: #ddc5ce;
$pink03: #80060b;
$red01: #d3002e;
$red02: #85060d;
$red03: #c0a5ac;