.header {
	background-color: $grey01;
	color: $grey02;
	display: flex;
	justify-content: space-between;
	height: 8vw;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;

	&_logo {
		height: 8vw;
	}

	&_title {
		padding: 10px;
		font-size: 2.5vw;

		@include respond-to(mobile) {
			padding: 5px 10px;
		}
	}

	&_info {
		font-size: 1.8vw;
		padding: 10px;

		@include respond-to(mobile) {
			padding: 5px 10px;
		}
	} 
}

.authorization {
	background: url(../img/authoriz.png) no-repeat top #f2f3fc;
	background-size: 110%;

	@include respond-to(mobile) {
		background: url(../img/authoriz.png) no-repeat contain #f2f3fc;
		background-size: 150%;
	}


	.header_authorization {
		color: $grey02;
		display: flex;
		justify-content: space-between;
		height: 12vw;
		background-color: none;
	}

	.main_authorization {
		padding: 5vw 5vw;
	}
}