.header {
	background-color: $grey01;
	color: $grey02;
	display: flex;
	justify-content: space-between;
	height: 12vw;

	&_logo {
		height: 12vw;
	}

	&_title {
		padding: 10px;
		font-size: 3vw;
	}

	&_info {
		font-size: 2vw;
		padding: 10px;
	}
}

.authorization {
	background: url(../img/authoriz.png) no-repeat top #f2f3fc;
	background-size: 110%;

	@include respond-to(mobile) {
		background: url(../img/authoriz.png) no-repeat contain #f2f3fc;
		background-size: 150%;
	}


	.header_authorization {
		color: $grey02;
		display: flex;
		justify-content: space-between;
		height: 12vw;
		background-color: none;
	}

	.main_authorization {
		padding: 5vw 5vw;
	}
}